<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>@ViewBag.Title - @Configuration["Site:Name"] - Powered By Topicomb</title>
		<link href="~/shared/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="./styles/hawiki/theme/stylesheet.css?assets_version=31" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="./styles/hawiki/theme/colours.css?assets_version=31" rel="stylesheet" type="text/css" media="screen, projection" />
		<link id="colour-variant" href="" rel="stylesheet" type="text/css" media="screen, projection" />
	</head>
</html>