<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>@ViewBag.Title - @ViewBag.Config["Site:Name"] - Powered By Topicomb</title>
		<link href="~/assets/shared/styles/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="~/assets/@Html.GetTemplateFolder()/styles/site.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="~/assets/@Html.GetTemplateFolder()/styles/colors.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link id="colour-variant" href="" rel="stylesheet" type="text/css" media="screen, projection" />
	</head>
	<body>
		<div id="overall-wrap">
	<a id="top" class="anchor" accesskey="t"></a>
	<div id="wrap-head">
		<div id="site-nav" role="navigation">
			<div class="chunk">
				<ul class="site-nav" role="menubar">
					<li class="font-icon responsive-menu dropdown-container dropdown-right dropdown-down" data-skip-responsive="true">
						<a href="#" class="responsive-menu-link dropdown-trigger dropdown-toggle"><i class="fa fa-bars"></i><span class="nav-rh-2">Quick links</span></a>
						<div class="dropdown hidden" style="display: none; margin-right: -1402.5px;">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents dropdown-nonscroll" role="menu" style="margin-left: 0px; left: 0px; max-width: 1327px;">
								
																	<li class="separator"></li>
																																				<li class="font-icon icon-search-unanswered"><a href="./search.php?style=2&amp;search_id=unanswered" role="menuitem"><i class="fa fa-file-o"></i>Unanswered posts</a></li>
									<li class="font-icon icon-search-active"><a href="./search.php?style=2&amp;search_id=active_topics" role="menuitem"><i class="fa fa-fire"></i>Active topics</a></li>
																<li class="separator site-menu"></li>

								<li data-skip-responsive="true" class="site-menu"><a href="./faq.php?style=2" rel="help" title="Frequently Asked Questions">FAQ</a></li>
<li class="site-menu">
	<a href="#" title="Example">Drop Down</a>
	<ul>
		<li><a href="#">Lorem ipsum</a></li>
		<li><a href="#">Welcome to phpBB3</a></li>
		<li><a href="#">Frequently Asked Questions</a></li>
		<li><a href="#">BBCode example</a></li>
	</ul>
</li>

															</ul>
						</div>
					</li>

										
									<li class="font-icon rightside" data-skip-responsive="true"><a href="./ucp.php?style=2&amp;mode=login" title="Login" accesskey="x" role="menuitem"><i class="fa fa-power-off"></i><span class="nav-rh-2">Login</span></a></li>
																		</ul>
			</div>
		</div>

		<div id="site-header" role="banner">
			<div class="chunk">
				<div id="site-logo">
					<a asp-action="Index" asp-controller="Home" title="Home"><img class="logo" src="~/assets/@Html.GetTemplateFolder()/images/logo.png"></a>
				</div>

				<ul id="site-menu">
					<li data-skip-responsive="true" class="site-menu"><a href="./faq.php?style=2" rel="help" title="Frequently Asked Questions">FAQ</a></li>
<li class="site-menu">
	<a href="#" title="Example">Drop Down</a>
	<ul>
		<li><a href="#">Lorem ipsum</a></li>
		<li><a href="#">Welcome to phpBB3</a></li>
		<li><a href="#">Frequently Asked Questions</a></li>
		<li><a href="#">BBCode example</a></li>
	</ul>
</li>
				</ul>

				
								<div id="site-search" role="search">
					<form action="./search.php?style=2" method="get">
						<fieldset>
							<input name="keywords" type="search" maxlength="128" title="Search for keywords" size="20" value="" placeholder="Search"><button type="submit" title="Search"><i class="fa fa-search"></i></button><input type="hidden" name="style" value="2">

						</fieldset>
					</form>
				</div>
							</div>
		</div>
	</div>

	
	<a id="start_here" class="anchor"></a>
	
	@RenderBody()
		
	
	<div id="wrap-footer">

		

		<div id="site-footer-nav" role="navigation">
			<div class="chunk">
				<ul class="site-footer-nav" role="menubar">
					<li class="small-icon icon-home breadcrumbs">
																		<span class="crumb"><a href="./index.php?style=2" data-navbar-reference="index" title="Board index">Board index</a></span>
											</li>
					
										<li class="rightside">All times are <abbr title="UTC">UTC</abbr></li>
																<li class="small-icon icon-delete-cookies rightside"><a href="./ucp.php?style=2&amp;mode=delete_cookies" data-ajax="true" data-refresh="true" role="menuitem">Delete all board cookies</a></li>
																					<li class="small-icon icon-team rightside" data-last-responsive="true"><a href="./memberlist.php?style=2&amp;mode=team" role="menuitem">The team</a></li>										<li class="small-icon icon-contact rightside" data-last-responsive="true"><a href="./memberlist.php?style=2&amp;mode=contactadmin" role="menuitem">Contact us</a></li>				</ul>
			</div>
		</div>

		<div id="site-footer" role="contentinfo">
			<div class="chunk">
								Powered by Topicomb © Code Comb Co.,Ltd
															</div>
		</div>

		<div id="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
			<div id="darken">&nbsp;</div>
		</div>
		<div id="loading_indicator"><i class="fa fa-spinner fa-spin"></i></div>

		<div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
			<a href="#" class="alert_close"></a>
			<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
		</div>
		<div id="phpbb_confirm" class="phpbb_alert">
			<a href="#" class="alert_close"></a>
			<div class="alert_text"></div>
		</div>

		<div style="display: none;">
			<a id="bottom" class="anchor" accesskey="z"></a>
					</div>
</div>

</div>
	</body>
</html>