<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>@ViewBag.Title - @Configuration["Site:Name"] - Powered By Topicomb</title>
		<link href="~/assets/shared/styles/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="~/assets/@Html.GetTemplateFolder()/styles/hawiki/theme/site.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link href="~/assets/@Html.GetTemplateFolder()/styles/hawiki/theme/colors.css" rel="stylesheet" type="text/css" media="screen, projection" />
		<link id="colour-variant" href="" rel="stylesheet" type="text/css" media="screen, projection" />
	</head>
	<body>
	</body>
</html>