@{
	Layout = null;
}

<html>
	<head></head>
	<body>
		<form asp-action="Login" asp-asp-controller="Account" method="post" id="frmLogin">
			<p><input type="text" name="username" /></p>
			<p><input type="password" name="password" /></p>
			<p><input type="submit" /> <input type="checkbox" name="rememberme" /></p>
		</form>
	</body>
</html>